body {
    background-color: #64599B;
    font-family: 'Inter', sans-serif;
}
.sidenav {
    height: 100%;
    width: 7em;
    background-color: #242038;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

}
.sidenav img {
    width: 7em;
    height: auto;
}
.sidenav ul {
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
    width: 7em;
    height: 100%;
    overflow: auto;
}
.sidenav li, .sidenav li button {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.sidenav li a, .sidenav li button {
    text-decoration: none;
    color: #CBC0FF;
}
.sidenav li a:hover, .sidenav li button:hover {
    transition: 0.3s;
    color: #fff;
}
#uploadfile {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#upload-container {
    width: 30em;
    height: 30em;
    background-color: white;
}
#login {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background: #242038;
    border-radius: 10px;
    color: #CBC0FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login button {
    margin: 1em 0;
    background-color: #64599B;
    padding: 10px 20px;
    color: #CBC0FF;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}